server:
  port: 9007

spring:
  application:
    name: person-service

  datasource:
    url: jdbc:postgresql://localhost:5432/person_db
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    root: INFO
    com.enterprise.person: DEBUG
    org.hibernate.SQL: DEBUG

# Person service config
person:
  code:
    prefix: "P"
    year-format: "yyyy"
